<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Instant Messenger via Socket.IO</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/loader.css">
</head>

<body class="modal-active">

<div id="modal-container" class="modal-container">
    <div id="contentUsername" class="modal-background">
        <form class="modal" id="formUsername" method="post">
            <h2>Pick a Username</h2>
            <input autofocus autocomplete="on" id="inputUsername" name="username" type="text">
            <div class="loader hidden" id="loaderUsername"></div>
        </form>
    </div>
    <div id="contentUsers" class="modal-background none">
        <span class="closeIcon" onclick="closeModal()"></span>
        <ul class="listModal">
        </ul>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Rechercher"/>
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people">
                <li class="person" data-chat="person0">
                    <span class="name">General Room</span>
                    <span class="preview">Talk with everyone online</span>
                </li>
            </ul>
        </div>

        <div class="right">
            <div class="top">
                <span>Go to:
                    <span class="name" id="infoPersonTop">General Room</span>
                </span>
            </div>
            <div class="chat" data-chat="person0">
                <div class="conversation-start">
                    <span>Start the conversation</span>
                </div>
            </div>

            <div class="write">
                <span class="someoneWriting none"></span>
                <input id="inputMessage" type="text" name="input_message" placeholder="write a message..."
                       onclick="sendMessage()"/>
                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/index.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    let formUsername = document.querySelector('#formUsername'),
        inputUsername = document.querySelector('#inputUsername'),
        username,
        allUsers,
        loaderUsername = document.querySelector('#loaderUsername'),
        inputMessage = document.body.querySelector('#inputMessage')

    //Username form input
    formUsername.addEventListener('submit', (e) => {
        e.preventDefault()
        let usernameWanted = inputUsername.value
        socket.emit('setUsername', usernameWanted)
        inputUsername.classList.add('hidden')
        loaderUsername.classList.remove('hidden')
    })

    //Message chat input
    let isWriting = false,
        stopWriting

    inputMessage.addEventListener('keydown', (e) => {
        if (e.keyCode == 13) {
            //Sends message
            sendMessage()
        } else {
            //Behavior on typing
            clearTimeout(stopWriting)
            if(!isWriting) {
                isWriting = true
                socket.emit('startWriting', chat.person)
            }

            stopWriting = setTimeout(() => {
                socket.emit('stopWriting', chat.person)
                isWriting = false
            }, 1000)
        }
    })

    //Get the value and send it to the server
    function sendMessage() {
        let text = inputMessage.value.trim()
        if (text != '') {
            //Sends message to server
            socket.emit('sendNewMessage', text, chat.person)
            inputMessage.value = ''
            //Behavior from typing
            clearTimeout(stopWriting)
            isWriting = false
            socket.emit('stopWriting', chat.person)
        }
    }

    //After confirmed new user, Updates users list
    socket.on('acceptUsername', (_username, _allUsers, allSocketIDs) => {
        username = _username
        allUsers = _allUsers
        closeModal()
        updateUsers(allUsers)
        setFriends(allUsers, allSocketIDs, username)
    })

    socket.on('rejectUsername', (_username) => {
        inputUsername.value = ''
        inputUsername.setAttribute('placeholder', 'Username already taken ! Please select another one')
        inputUsername.classList.remove('hidden')
        loaderUsername.classList.add('hidden')
    })

    //Display a message when a new user is online
    socket.on('newUserConnected', (newUsername, newSocketId, _allUsers) => {
        allUsers = _allUsers
        updateUsers(allUsers)
        messageNewUserConnected(newUsername)
        addUserNewChat(newUsername, newSocketId)
    })

    //Display a message when a user leaves the chat
    socket.on('leftSessionUser', (_allUsers, oldUsername, oldSocketID) => {
        allUsers = _allUsers
        updateUsers(allUsers)
        messageleftSessionUser(oldUsername)
        removeUserChat(oldSocketID)
    })

    //Display new message entries
    socket.on('confirmMessage', (message, dataChat) => showMyMessage(message, dataChat))

    socket.on('sendingNewMessage', (message, username, dataChat) => showMessage(message, username, dataChat))

    //Display info behavior on typing
    socket.on('userStartWriting', (username, dataChat) => showSomeoneWriting(username, dataChat))
    socket.on('userStopWriting', (dataChat) => removeSomeoneWriting(dataChat))

</script>
</body>

</html>
